<div>
  <h2>Por Región</h2>
  <hr />

  <div class="row">
    <div class="col text-center">
      <!-- SearchBox -->
      <!-- <shared-search-box
        (onDebounce)="searchByRegion($event)"
        placeholder="Buscar por región."
      ></shared-search-box> -->
      <button
        *ngFor="let region of regions"
        [ngClass]="{ 'btn-outline-primary': selectedRegion === region }"
        (click)="searchByRegion(region)"
        class="btn mx-2 btn-outline-primary"
      >
        {{ region }}
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <!-- Resultados -->
      <hr />
      <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
      <countries-table [countries]="countries"></countries-table>
    </div>
  </div>
</div>
